- name: Configure npm auth
  run: |
    echo "@tejastarse:registry=https://npm.pkg.github.com" >> .npmrc
    echo "//npm.pkg.github.com/:_authToken=${NPM_TOKEN}" >> .npmrc
  env:
    NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
